@import url('./reset.css');
@import url('./scroll.css');
@import url('./padroes.css');

@import url('./menu.css');
@import url('./animais.css');
@import url('./faq.css');
@import url('./dados.css');
@import url('./footer.css');
@import url('./lista_acordion.css');
@import url('./tab.css');
@import url('./menu_drop.css');
@import url('./menu_mobile.css');
@import url('./numeros.css');

@import url('./responsividade.css');







/* ANIMAÇÕES E EFEITOS */
@keyframes mostrar {
    from {
        opacity: 0;
        transform: translate3d(-30px, 0, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slide {
    from {
        opacity: 0;
        max-height: 0;
    }
    to {
        opacity: 1;
        max-height: 200px;
    }
}



